<div class="heading">
  <div style="margin-top: 20px;text-align: center;">
    <h1 style="font-style: italic;"> Welcome to MavsTrack </h1>
</div>
</div>



       <div class="card-body">
         <h3 style="margin-top: 5px;margin-bottom: 5px;text-align: center;" class="card-title border-bottom">Bug Summary</h3>
         <ngx-charts-bar-vertical
             [view]="[800,300]"
             [results]="element"
             [xAxisLabel]="'Severity'"
             [legendTitle]="'Severity Chart'"
             [yAxisLabel]="'Bug Count'"
             [legend]="true"
             [showXAxisLabel]="true"
             [showYAxisLabel]="true"
             [xAxis]="true"
             [yAxis]="true"
             [gradient]="true">
         </ngx-charts-bar-vertical>
       </div>
       <div>&nbsp;&nbsp;</div>




<!--
<div class="card" style="width: 400px;">

<div routerLink="/projects" class="col-md-5">
  <div class="info info-orange">
    <div class="header">Projects</div> -->
    <!-- <span>5</span> -->

  <!-- </div>
</div>
<br>

<div routerLink="/people" class="col-md-5">
  <div class="info info-green">
    <div class="header">Users</div> -->
    <!-- <span>5</span> -->

  <!-- </div>
</div>
<br>

<div routerLink="/issues" class="col-md-5">
  <div class="info info-brown">
    <div class="header">Bugs</div> -->
    <!-- <span>5</span> -->

  <!-- </div>
</div>
</div>
   -->
<!-- <div style="margin-top: 50px;justify-content: center;" class="row"> -->


    <!-- <div class="col-md-3">
      <div class="info info-blue">
        <div class="header">To be Fixed</div>
        <span>5</span> -->

      <!-- </div>
    </div> -->
  <!-- </div> -->

